---
import { buttonVariants } from "./buttonVariants";

interface Props {
	title: string;
	date: string;
	tags?: { name: string; href: string }[];
	image: string;
	links: {
		title: string;
		href: string;
	}[];
	lazyLoad?: boolean;
}

const { title, date, image, tags, links, lazyLoad = true } = Astro.props;
---

<div class="grid gap-3">
	<h2 class="ml-1 text-xl font-semibold">{title}</h2>
	<div class="ml-1 flex items-center text-sm">
		<span class="opacity-80">{date}</span>
		{
			tags && (
				<>
					<span class="mx-1.5">&middot;</span>
					<div class="flex gap-2">
						{tags.map((tag) => (
							<a
								href={tag.href}
								rel="nofollow noreferrer"
								target="_blank"
								class="text-custom-muted-gold/70 hover:text-custom-muted-gold transition-colors"
							>
								{tag.name}
							</a>
						))}
					</div>
				</>
			)
		}
	</div>
	<img
		alt={title}
		src={image}
		width="730"
		height="355"
		loading={lazyLoad ? "lazy" : "eager"}
		class="w-full rounded-md shadow-md"
	/>
	<div class="px-1">
		<slot />
	</div>
	<div class="flex gap-4 px-1">
		{
			links.map((link) => (
				<a
					href={link.href}
					class={buttonVariants({
						variant: "link",
						class: "justify-start gap-2 pb-1"
					})}
					rel="nofollow noreferrer"
					target="_blank"
				>
					{link.title}
				</a>
			))
		}
	</div>
</div>
